@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  width: 20rem;
  height: 20rem;
  margin: 1.5rem 0 0 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}


.itemImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--card-light-0);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.itemImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  border-top: 1px solid var(--card-navy-accent);
  text-align: center;
  margin: 0;
  background-color: var(--card-light-1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);

  h3 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-light);
    margin: 1.5rem 1.5rem 0 1.5rem;
    color: var(--card-text-heading);
    letter-spacing: 0.2rem;
  }

  .detailsOverview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem 0 1.5rem;

    p {
      width: 100%;
      height: 1.25rem;
      margin: 0;
    }
  }

  .detailsDesc {
    flex: 4;
    white-space: nowrap;
    color: var(--card-text-desc);
    font-weight: var(--font-weight-light);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .detailsPrice {
    flex: 1;
    font-weight: var(--font-weight-medium);
    text-align: right;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    color: var(--card-navy-accent);
  }

  .detailsBtn {
    margin: 1rem;
  }
}