.item {
  width: 20rem;
  height: auto;
  margin: 1rem;
}

.itemImage {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.itemImage img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 0.5rem;
}

.content h3 {
  font-size: 1.25rem;
  color: var(--navy-6);
}

.detailBtn {
  padding: 1.0rem;
  text-align: center;
}

.detailBtn button {
  cursor: pointer;
  color: var(--beige-dark);
  border: 2px solid var(--beige-dark);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  box-shadow: inset 0 0 2px var(--beige-dark);
}

.detailBtn button:hover,
.detailBtn button:active {
  background-color: var(--beige);
  box-shadow: 0 0 3px var(--beige-dark);
}