:root {
  --border-radius: 10px;
  --font-weight-light: 260;
  --font-weight-medium: 420;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  padding: 0;
}

.signInNavigationContainer {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;

  p {

  }
}