/* Link to Color Palette:
https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
*/
:root {
  /* CYAN PALETTE */
  --black: #001219;
  --cyan-light: #94D2BD;
  --cyan: #0A9396;
  --cyan-dark: #005F73;
  --beige-light: #fff8e5;
  --beige: #f0e1b7;
  --beige-dark: #aa8721;
  --orange-light: #EE9B00;
  --orange: #CA6702;
  --orange-dark: #BB3E03;
  --red-light: #c77872;
  --red-lighter: #e2a4a0;
  --red: #AE2012;
  --red-dark: #920c12;

  /* PASTEL PALETTE*/
  --salmon-super-light: #fff8f8;
  --salmon-0: #fbf1f0;
  --salmon-1: #f7dbd9;
  --salmon-2: #f2c4c0;
  --salmon-3: #eeb4af;
  --salmon-4: #e28a93;
  --salmon-5: #d96e78;
  --salmon-6: #ca666f;
  --salmon-7: #ad525a;
  --salmon-8: #9d454d;
  --salmon-caption: #d1949b;

  /* NAVY PALETTE */
  --navy-0: #ebfbff;
  --navy-1: #CAF0F8;
  --navy-2: #ADE8F4;
  --navy-3: #90E0EF;
  --navy-4: #42c5df;
  --navy-5: #00B4D8;
  --navy-6: #0096C7;
  --navy-7: #0072ad;
  --navy-8: #023E8A;
  --navy-9: #03045E;
}