/* Link to Color Palette:
https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
*/
:root {
  --black: #001219;
  --cyan-light: #94D2BD;
  --cyan: #0A9396;
  --cyan-dark: #005F73;
  --beige: #E9D8A6;
  --orange-light: #EE9B00;
  --orange: #CA6702;
  --orange-dark: #BB3E03;
  --red: #AE2012;
  --red-dark: #9B2226;
}