.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  place-items: center;
  color: var(--navy-7);
  font-size: 1.5rem;

  .homeHighlight {
    text-transform: uppercase;
    font-weight: var(--font-weight-light);
    letter-spacing: 0.2rem;
    color: var(--salmon-5);
  }
}
