.home {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  place-items: center;

  .title {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    color: var(--navy-7);

    .highlight {
      text-transform: uppercase;
      font-weight: var(--font-weight-light);
      letter-spacing: 0.2rem;
      color: var(--salmon-5);
      margin-top: 2rem;
      font-size: 3.5rem;
      text-shadow: var(--text-shadow-stack-navy)
    }

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3.5rem;
    }
  }

  .navigation {
    flex: 1;
    color: var(--navy-7);
  }
}
