.mainContainer {
  background: var(--navy-0);
  display: grid;
  grid-template-areas:
    'navbar navbar navbar'
    'sidebar content content'
    'footer footer footer';
}

.content {
  grid-area: content;
  margin: 3rem auto;
  width: 100%;
  max-width: 40rem;
}