.header {
  height: 100px;
}

.navbar {
  --nav-light: var(--navy-1);
  --nav-medium: var(--navy-4);
  --nav-dark: var(--navy-5);
  --nav-light--active: var(--navy-0);
  --nav-medium--active: var(--navy-3);
  --nav-dark--active: var(--navy-4);
  width: 100%;
  height: 100%;
  min-height: 85px;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--nav-dark);
}

.websiteLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 3rem 0 1.5rem;
}

.logoText {
  display: block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  color: var(--nav-light);
  margin: auto 0 auto 7px;
}

.navSectionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navSection {
  margin-right: 2rem;
  height: 100%;
  display: grid;
  place-items: center;

  button {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--nav-light);
    width: auto;
    text-transform: uppercase;
    font-weight: var(--font-weight-light);
    border: 2px solid var(--nav-dark);
    background-color: transparent;
    padding: 0;

    &:hover,
    &:active {
      color: var(--nav-light--active);
    }
  }
}

.userButton {
  margin-left: auto;
  margin-right: 27px;
}

.loginContainer {
  margin-left: auto;

  button {
    cursor: pointer;
    width: 70px;
    height: 35px;
    margin-right: 2rem;
    text-transform: uppercase;
    color: var(--nav-light);
    background-color: var(--nav-dark);
    border-color: var(--nav-medium);
    border-radius: var(--border-radius);
    text-shadow: 1px 1px 1px var(--navy-7);

    &:hover,
    &:active {
      background-color: var(--nav-dark--active);
      color: var(--nav-light--active);
    }
  }
}