.header {
  height: 100px;
}

.navbar {
  --nav-light: var(--navy-1);
  --nav-medium: var(--navy-4);
  --nav-dark: var(--navy-6);
  --nav-darker: var(--navy-8);
  --nav-light--active: var(--navy-0);
  --nav-medium--active: var(--navy-8);
  --nav-dark--active: var(--navy-4);
  --nav-darker--active: var(--navy-6);
  --nav-border: var(--salmon-4);
  --nav-border-light: var(--salmon-1);
  width: 100%;
  height: 100%;
  min-height: 85px;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--salmon-0);
  box-shadow: 0 -1px 0 var(--nav-border) inset;
}

.websiteLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 1.5rem 0 1.5rem;
}

.logoText {
  display: block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.2rem;
  color: var(--salmon-5);
  margin: auto 0 auto 20px;
}

.navSectionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navSection {
  height: 100%;
  display: grid;
  place-items: center;
  width: 120px;

  button {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--nav-darker);
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: var(--font-weight-light);
    background-color: transparent;
    border-right: 1px solid var(--nav-border-light);
    border-top: none;
    border-left: none;
    border-bottom: none;

    &:hover {
      background: var(--salmon-2);
    }

    &:active,
    &:target {
      background: var(--salmon-4);
    }
  }
}

.navSection:first-child button {
  border-left: 1px solid var(--nav-border-light);
}

.userButton {
  margin-left: auto;
  margin-right: 27px;
}

.loginContainer {
  margin-left: auto;
}

.loginButton {
  margin-right: 1.5rem;
  color: var(--nav-light);
  border: 2px solid var(--nav-dark);
  background-color: var(--nav-dark);
  box-shadow: inset 0 0 2px var(--navy-medium);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  text-align: center;
  font-weight: var(--font-weight-light);
  text-transform: uppercase;

  background: {
    image: linear-gradient(45deg, var(--nav-medium) 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  transition: background 285ms ease-in-out;
}

.loginButton:hover,
.loginButton:focus {
  box-shadow: 0 0 3px var(--nav-medium);
  border-color: var(--nav-medium);
  background-position: 1%; // 0 causes 1px light edge on the left side in certain browsers
  color: var(--nav-medium--active);
}