.header {
  height: 100px;
}

.navbar {
  --nav-light: var(--navy-1);
  --nav-medium: var(--navy-4);
  --nav-dark: var(--navy-5);
  --nav-darker: var(--navy-6);
  --nav-light--active: var(--navy-0);
  --nav-medium--active: var(--navy-7);
  --nav-dark--active: var(--navy-4);
  width: 100%;
  height: 100%;
  min-height: 85px;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--nav-dark);
  box-shadow: 0 -1px 0 var(--navy-7) inset;
}

.websiteLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 3rem 0 1.5rem;
}

.logoText {
  display: block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  color: var(--nav-light);
  margin: auto 0 auto 7px;
}

.navSectionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navSection {
  margin-right: 2rem;
  height: 100%;
  display: grid;
  place-items: center;

  button {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--nav-light);
    width: auto;
    text-transform: uppercase;
    font-weight: var(--font-weight-light);
    border: 2px solid var(--nav-dark);
    background-color: transparent;
    padding: 0;

    &:hover,
    &:active {
      color: var(--nav-light--active);
    }
  }
}

.userButton {
  margin-left: auto;
  margin-right: 27px;
}

.loginContainer {
  margin-left: auto;
}

.loginButton {
  margin-right: 1.5rem;
  color: var(--nav-light);
  border: 2px solid var(--nav-darker);
  background-color: var(--nav-darker);
  box-shadow: inset 0 0 2px var(--navy-dark);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  text-align: center;
  font-weight: var(--font-weight-light);
  text-transform: uppercase;

  background: {
    image: linear-gradient(45deg, var(--nav-medium) 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  transition: background 285ms ease-in-out;
}

.loginButton:hover,
.loginButton:focus {
  box-shadow: 0 0 3px var(--nav-medium);
  border-color: var(--nav-medium);
  background-position: 1%; // 0 causes 1px light edge on the left side in certain browsers
  color: var(--nav-medium--active);
}