.header {
  height: 100px;
}

.navbar {
  --nav-light: var(--navy-3);
  --nav-medium: var(--navy-6);
  --nav-dark: var(--navy-7);
  --nav-light--active: var(--navy-1);
  --nav-medium--active: var(--navy-5);
  --nav-dark--active: var(--navy-6);
  width: 100%;
  height: 100%;
  min-height: 120px;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--nav-dark);
}

.websiteLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 3rem 0 1.5rem;
}

.logoText {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--nav-light);
}

.navSectionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navSection {
  margin-right: 2rem;
}

.navSection button {
  font-size: 1.2rem;
  color: var(--nav-light);
  width: 8.5rem;
  height: 4.5rem;
  border: 2px solid var(--nav-dark);
  background-color: var(--nav-medium);
  padding: 0;
  border-radius: var(--border-radius);
}

.navSection button:hover,
.navSection button:active,
.navSection button.active {
  color: var(--nav-light--active);
  border-color: var(--nav-medium--active);
  background-color: var(--nav-medium--active);
  box-shadow: 0 0 4px var(--nav-medium--active);
}