.sidebar {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 100px);
  width: 100%;
  background-color: var(--navy-3);
}

.sidebarSection {
  grid-column: 1 / -1;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100px;
  color: var(--navy-8);
  background-color: var(--navy-3);
  border-top: 3px solid var(--navy-0);

  background: {
    image: linear-gradient(45deg, var(--navy-7) 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 285ms ease-in-out;
}

.sidebarSection:hover,
.sidebarSection:active, {
  background-position: 0;
  color: var(--navy-2);

  box-shadow: inset 0 0 7px var(--navy-1);
}


.lastSidebarSection {
  border-bottom: 3px solid var(--navy-0);
}