.sidebar {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, var(--sidebar-section-height));
  width: 100%;
  background-color: white;
  border-right: 1px solid var(--salmon-2);
}